.chat-background{
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.full-background{
	background-image: url('image/background.png');
	background-size: cover;
}

.background {
	background-color: rgba(0, 0, 0, 0.233);
}
.dot {
	height: 10px;
	width: 10px;
	background-color: #41ac10;
	border-radius: 50%;
	display: inline-block;
	margin-left: 8px;
	margin-top: 5px;
  }
.messages-box {
	max-height: 65rem;
	overflow: auto;
}
.messages-title {
	float: right;
	margin: 0px 5px;
}
.message-img {
	float: right;
	margin: 0px 5px;
}
.message-header {
	text-align: right;
	width: 100%;
	margin-bottom: 0.5rem;
}
.messages-list li.messages-you .messages-title {
	float: left;
}
.messages-list li.messages-you .message-img {
	float: left;
}
.messages-list li.messages-you p {
	float: left;
	text-align: left;
}
.messages-list li.messages-you .message-header {
	text-align: left;
}
.messages-list li p {
	max-width: 60%;
	padding: 5px;
	border: #252a2b42 1px solid;
	border-radius: 5px;
	background-color: rgba(173, 110, 231, 0.514);
	box-shadow: 5px 5px 2px  rgba(203, 167, 236, 0.39);
}
.messages-list li.messages-me p {
	float: right;
	background-color: aliceblue;
	box-shadow: 5px 5px 2px rgba(173, 216, 230, 0.637);
}
.info{
	text-align: left;
}
