.messages-box {
	max-height: 65rem;
	overflow: auto;
	background-color: rgba(228, 227, 227, 0.514);
}
.messages-title {
	float: right;
	margin: 0px 5px;
}
.message-img {
	float: right;
	margin: 0px 5px;
}
.message-header {
	text-align: right;
	width: 100%;
	margin-bottom: 0.5rem;
}
.messages-list li.messages-you .messages-title {
	float: left;
}
.messages-list li.messages-you .message-img {
	float: left;
}
.messages-list li.messages-you p {
	float: left;
	text-align: left;
}
.messages-list li.messages-you .message-header {
	text-align: left;
}
.messages-list li p {
	max-width: 60%;
	padding: 5px;
	border: #59b0b642 1px solid;
	border-radius: 5px;
	background-color: rgba(188, 127, 245, 0.192);
	box-shadow: 5px 5px 2px rgba(173, 216, 230, 0.637);
}
.messages-list li.messages-me p {
	float: right;
	background-color: aliceblue;
	box-shadow: 5px 5px 2px rgba(173, 216, 230, 0.637);
}
.info{
	text-align: center;
}
